    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background: linear-gradient(0deg, rgba(84, 49, 27) 0%, rgb(255, 255, 255) 150%);
    }

    /*     .dark {
        background: #111111;
        transition: all 1.5s ease;
} */


    /*dark mode*/
    .dark {
        background: #272727;
        color: #f1eded;
        transition: all 1.5s ease;
    }

    .about-section-dark {
        padding: 50px;
        text-align: center;
        /* background-color: #474e5d; */
        background: #1f1f1f;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em
    }

    html {
        box-sizing: border-box;
    }

    .team {
        border-radius: 5px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        margin: 50px;
        background-color: rgba(84, 49, 27);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .about-section {
        padding: 50px;
        text-align: center;
        /* background-color: #474e5d; */
        background: linear-gradient(0deg, rgb(255, 255, 255) -60%, rgb(84, 49, 27) 50%, rgb(255, 255, 255) 150%);
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em
    }

    .container {
        padding: 0 16px;
    }

    .container::after,
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        background-color: #555;
    }

    @media screen and (max-width: 100px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .welcome {
        text-align: center;
        color: white;
        text-shadow: black 0.1em 0.1em 0.2em
    }

    /*Styles Cards*/
    .cards {
        position: relative;
        width: 400px;
        height: 400px;
        margin: 100px;
    }

    .cards .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .60s;
    }

    .cards .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px #000;
    }

    .cards .front img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cards .front h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
        color: #fff;
        background: rgba(0, 0, 0, .4);
        text-align: center;
    }

    .cards .back {
        transform: perspective(600px) rotateY(180deg);
        background: linear-gradient(0deg, rgba(164, 120, 93) 0%, rgba(28, 27, 23) 100%);
        padding: 15px;
        color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5px 10px #000;
    }

    .cards .back .link {
        border-top: solid 1px #f3f3f3;
        height: 50px;
        line-height: 50px;
    }

    .cards .back .link a {
        color: #f3f3f3;
    }

    .cards .back h3 {
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }

    .cards .back p {
        letter-spacing: 1px;
    }

    .cards:hover .front {
        transform: perspective(600px) rotateY(180deg);
    }

    .cards:hover .back {
        transform: perspective(600px) rotateY(360deg);
    }

    /*dark mode icon*/

    #toggle {
        display: none;
    }

    #label_toggle {
        font-size: 1.8em;
        color: rgb(31 41 55);
        cursor: pointer;
    }

    /*FOOTER*/

    /*:::::Pie de Pagina*/
    .pie-pagina {
        width: 100%;
        background-color: linear-gradient(0deg, rgba(84, 49, 27) 0%, rgb(255, 255, 255) 150%);
    }

    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }

    .pie-pagina .grupo-1 .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pie-pagina .grupo-1 .box figure img {
        width: 250px;
    }

    .pie-pagina .grupo-1 .box h2 {
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .pie-pagina .grupo-1 .box p {
        color: #efefef;
        margin-bottom: 10px;
    }

    .pie-pagina .grupo-2 {
        background-color: #1f1f1f;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }

    .pie-pagina .grupo-2 small {
        font-size: 15px;
    }

    @media screen and (max-width:800px) {
        .pie-pagina .grupo-1 {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
        }
    }

    /*whatsapp*/

    .buttons {
        display: inline-block;
        justify-content: space-around;
    }

    .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-right: 10px;
        text-align: center;
        background: rgba(84, 49, 27);
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }

    .buttons a:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }